/* Custom SCSS rules */

// colors
body {
  background-color: $bluegray;
  #header {
    background: $darkblue url("/sites/all/themes/moneyzen/images/topBkgd.jpg") repeat-x top left;
    height: 62px; // for image
    .top-link-home {
      vertical-align: middle;
    }
  }

  #main {
    background-color: #fff;
  }
  #content {
  }
  #footer {
    background-color: $footergray;
    color: #fff;
    text-align: center;
  }
}

#header {
  .block {
    margin: $base-font-size 0px 0px 30px;
  }
}


#content {
  // hide title
  & > h1#page-title {
    display: none;
  }
  // Books page
  div.reviews {
    background-color: $lightblue;
    border-left: 1px dashed $darkbluealt;
    border-top: 1px dashed $darkbluealt;
    clear: left;
    margin: 1em 1.5em 1em 0.7em;
    padding: 15px;
  }
  img.bookimage {
    border: 3px inset $darkbluealt;
    display: inline;
    float: left;
    margin: -1px 1em 1em -1px;
    width: 100px;
    height: 150px;
  }
}

// front page
.front {
  .hewston-flipped .container-fluid {
    & > .row {
      // overrides Radix theme
      margin-left: -10px;
      margin-right: -10px;
      &:nth-of-type(even) {
        .col-md-4 {
          &.radix-layouts-column1 {
            color: #fff;
            background-color: $darkblue;
            ul {
              padding-left: 0px;
              li {
                clear: left;
                list-style-type: none;
              }
            }
          }
          &.radix-layouts-column2 {
            background-color: $lightblue;
          }
          &.radix-layouts-column3 {
            background-color: $steelblue;
          }
        }
      }
    }
  }
  // slider
  .view-fp-slider {
    .slider-mm {
      float: right;
      margin: 0 0 0.7em 1em;
    }
  }
}