@import "colors";


.tb-megamenu {

  // Overrides of default.css

  background-color: $navbar;
  border-bottom: solid 2px $lightblue;
  border-top: solid 2px $lightblue;

  .nav > li > a,
  .nav > li > a:hover,{
    border-right: 1px solid $navbar;
    text-decoration: none;
    border-bottom: none;
  }

  // reformat subnav links
  .mega-nav > li,
  .dropdown-menu .mega-nav > li {
    padding: 0px; // override
    &:first-child {
      & > a {
        padding-top: 10px; // override
      }
    }
    & a {
      text-decoration: none; // add
      color: $darkbluealt;
      padding: 10px; // add
    }
  }
  .span12.mega-col-nav .mega-inner,
  .mega-inner {
    padding: 0px;
  }


  .mega-nav > li:first-child > a,
  .dropdown-menu .mega-nav > li:first-child > a {
    margin-top: 0;
    padding-top: 10px;
  }

    // Custom CSS settings (taken from other custom styles CSS files in TB Mega Menu module

  .dropdown-menu {
    border-bottom-color: $lightblue;
  }

    .nav {
    li.dropdown.active > .dropdown-toggle,
    li.dropdown.open.active > .dropdown-toggle {
      background-color: $lightblue;
      color: $darkbluealt;
    }

    & > li > a:focus,
    & > li > a:hover {
      color: $darkbluealt;
      border-right: 1px solid #fff;
    }

    li.dropdown.open > .dropdown-toggle {
      color: $darkbluealt;
    }

    li.dropdown.open > .dropdown-toggle,
    li.dropdown.open.active > .dropdown-toggle {
      background-color: #fff;
      color: $darkbluealt;
    }
    & > li.dropdown.open.active > a:hover,
    & > li.dropdown.open.active > a:focus {
      background-color: #fff;
      color: $darkbluealt;
    }
  }

  .dropdown-menu li > a:hover,
  .dropdown-menu li > a:focus,
  .dropdown-submenu:hover > a {
    color: $darkbluealt;
    text-decoration: none;
  }

  .nav {
    & > .active > a,
    & > .active > a:hover,
    & > .active > a:focus {
      color: #fff;
      text-shadow: none;
      background-color: $lightblue;
      background-image: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      outline: none;
    }

  }

  .block-view-demo {
    .views-field-field-image img {
      border: 1px solid #eee;
    }
    .item-list ul li {
      border-bottom: 1px solid #eee;
    }
  }

}

// Custom media rules

@media (max-width: 979px) {
.tb-megamenu .nav-collapse .nav {
  & > li > a:hover,
  & > li > a:focus {
    color: $darkbluealt;
  }
  & > li.active > a {
    &:hover,
    &.focus {
      background-color: $lightblue;
      color: $darkbluealt;
    }
  }
}
}