@import "colors";
@import "compass/css3/box-shadow";


#navigation { // no padding for this element
  padding: {
    left: 0px !important;
    right: 0px !important;
  }
}

// Now TB Mega Menu - custom styling

.tb-megamenu {

  // Overrides of default.css or base.scss

  background-color: $navbar;
  border-bottom: solid 2px $lightblue;
  border-top: solid 2px $lightblue;

  .nav > li > a,
  .nav > li > a:hover {
    border-right: 1px solid $navbar;
    text-decoration: none;
    border-bottom: none;
  }

  .span12.mega-col-nav .mega-inner,
  .mega-inner {
    padding: 0px;
  }

  // reformat subnav links

  .mega-nav > li,
  .dropdown-menu .mega-nav > li {
    padding: 0px; // override
    &:first-child {
      & > a {
        margin-top: 0;
        padding-top: 10px; // override
      }
    }
    & a {
      text-decoration: none; // add
      color: $darkbluealt;
      padding: 10px; // add
    }
  }

    // Custom CSS settings (taken from other custom styles CSS files in TB Mega Menu module

  .nav {
    li.dropdown.active > .dropdown-toggle,
    li.dropdown.open.active > .dropdown-toggle {
      background-color: $lightblue;
      border-color: $lightblue;
      color: $darkbluealt;
    }

    & > li.dropdown.open.active > a:hover {
      border-color: $lightblue;
    }

    & > li > a:focus,
    & > li > a:hover {
      color: $darkbluealt;
      border-right: 1px solid $lightblue;
    }

    li.dropdown.open > .dropdown-toggle,
    li.dropdown.open.active > .dropdown-toggle,
    & > li.dropdown.open.active > a:hover,
    & > li.dropdown.open.active > a:focus {
      background-color: #eee;
      color: $darkbluealt;
    }

    // down arrow aka caret
    li.dropdown.open > .dropdown-toggle,
    li.dropdown.active > .dropdown-toggle,
    li.dropdown.open.active > .dropdown-toggle,
    li.dropdown > .dropdown-toggle:hover {
      .caret {
        border-top-color: #666;
      }
    }
  }

  .dropdown-menu li > a:hover,
  .dropdown-menu li > a:focus,
  .dropdown-submenu:hover > a {
    background-color: $darkblue;
    background-image: linear-gradient(to bottom, #0088CC, #0077B3);
    background-repeat: repeat-x;
    color: #eee;
    text-decoration: none;
  }

  .nav {
    & > .active > a {
      color: $darkbluealt;
      text-shadow: none;
      background-color: $lightblue;
      background-image: none;
      @include box-shadow($darkbluealt, 0,0,0);
      outline: none;
      border-right-color: $lightblue;
      &:hover,
      &:focus { // necessary to override default.css :hover CSS
        color: $darkbluealt;
        background-color: $lightblue;
      }
    }
  }

  .dropdown-menu {
    border-bottom-color: $lightblue;
    .active > a {
      color: $darkbluealt;
      &:hover {
        color: #eee;
      }
    }
  }

  .block-view-demo {
    .views-field-field-image img {
      border: 1px solid #eee;
    }
    .item-list ul li {
      border-bottom: 1px solid #eee;
    }
  }

  // button CSS alterations - desktop
  .btn-navbar {
    float: right;
    margin: 0.5em;
  }

}

// Custom media rules

@media (max-width: 991px) {

  .tb-megamenu {
    min-height: $mobile-nav-height;

    .btn-navbar {
      position: absolute;
      right: 1em;
      top: -62px;
    }
    .nav-collapse {
      background: none repeat scroll 0 0 $navbar;
      top: 0px;
      margin-top: 0px;
      .nav {
        & > li > a:hover,
        & > li > a:focus {
          color: $darkbluealt;
        }
        & > li.active > a {
          color: $darkbluealt;
          &:hover,
          &.focus {
            background-color: $lightblue;
            color: $darkbluealt;
          }
        }
      }
      .dropdown-menu {
        background-color: $lightblue;
        a {
          color: $darkbluealt;
        }
        li > a:hover,
        li > a:focus,
        li.active > a {
          background-color: $darkblue;
          background-image: linear-gradient(to bottom, #0088CC, #0077B3);
          background-repeat: repeat-x;
          color: #eee;
        }
      }
      .dropdown-submenu:hover > a {
        background-color: $darkblue;
        background-image: linear-gradient(to bottom, #0088CC, #0077B3);
        background-repeat: repeat-x;
        color: #eee;
      }
    }
  }
  #main { // make up for no navbar
    padding-top: $mobile-nav-height !important;
  }

}