@import "colors";


.tb-megamenu {

  // Overrides of default.css

  background-color: $navbar;
  border-bottom: solid 2px $lightblue;
  border-top: solid 2px $lightblue;

  // Custom CSS settings (taken from other custom styles CSS files in TB Mega Menu module

  .dropdown-menu {
    border-bottom-color: $lightblue;
  }

  .nav {
    li.dropdown.active > .dropdown-toggle,
    li.dropdown.open.active > .dropdown-toggle {
      background-color: $lightblue;
    }

    & > li > a:focus,
    & > li > a:hover {
      color: $lightblue;
    }

    li.dropdown.open > .dropdown-toggle {
      color: $lightblue;
    }

    li.dropdown.open > .dropdown-toggle,
    li.dropdown.open.active > .dropdown-toggle {
      background-color: #fff;
      color: $lightblue;
    }
    & > li.dropdown.open.active > a:hover,
    & > li.dropdown.open.active > a:focus {
      background-color: #fff;
      color: $lightblue;
    }
  }

  .dropdown-menu li > a:hover,
  .dropdown-menu li > a:focus,
  .dropdown-submenu:hover > a {
    color: $lightblue;
  }

  .nav {
    & > .active > a,
    & > .active > a:hover,
    & > .active > a:focus {
      color: #fff;
      text-shadow: none;
      background-color: $lightblue;
      background-image: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      outline: none;
    }

  }

  .block-view-demo {
    .views-field-field-image img {
      border: 1px solid #eee;
    }
    .item-list ul li {
      border-bottom: 1px solid #eee;
    }
  }

}

// Custom media rules

@media (max-width: 979px) {
.tb-megamenu .nav-collapse .nav {
  & > li > a:hover,
  & > li > a:focus {
    color: $lightblue;
  }
  & > li.active > a {
    &:hover,
    &.focus {
      background-color: $lightblue;
      color: #fff;
    }
  }
}
}