<?xml version="1.0" encoding="UTF-8"?>
<allEvents>
<event>
<org>Wells Fargo Women's Best Practices Forum</org>
<title>The Client Connection: Helping Advisors Build Bridges That Last</title>
<date>December 2014</date>
<location>Atlanta, GA</location>
</event>
<event>
<org>Women's Best Practices Forum</org>
<title>The Client Connection: Helping Advisors Build Bridges That Last</title>
<date>November 2014</date>
<location>North Orange County, CA</location>
</event>
<event>
<org>Wells Fargo Advisors</org>
<title>Online Webinar on Gender Differences</title>
<date>July 2014</date>
<location>Teleclass</location>
</event>
<event>
<org>Collaborative Dispute Resolution Professionals and Collaborative Divorce Association Bi-Annual Spring Institute</org>
<title>Finding Money Harmony in Collaborative Divorce</title>
<date>June 2014</date>
<location>Rockville, MD</location>
</event>
<event>
<org>2014 National Sales and Compliance Conference - Keynote speech</org>
<title>Integrating Money Psychology to Maximize Client Relationships</title>
<date>June 2014</date>
<location>Deer Valley, Utah</location>
</event>
<event>
<org>Wells Fargo Advisors</org>
<title>Helping Women Achieve Money Harmony</title>
<date>April 2014</date>
<location>St. Louis, MO</location>
</event>
<event>
<org>Advisys Webinar with Olivia Mellan</org>
<title>Money Harmony for Couples Around Retirement</title>
<date>February 2014</date>
<location>Online Webinar</location>
</event>
<event>
<org>Women's Best Practices Forum</org>
<title>The Client Connection: Helping Advisors Build Bridges That Last</title>
<date>November 2013</date>
<location>Charlotte, NC</location>
</event>
<event>
<org>Women's Best Practices Forum</org>
<title>The Client Connection: Helping Advisors Build Bridges That Last</title>
<date>November 2013</date>
<location>Denver, CO</location>
</event>
<event>
<org>Women's Best Practices Forum</org>
<title>The Client Connection: Helping Advisors Build Bridges That Last</title>
<date>October 2013</date>
<location>Cleveland, OH</location>
</event>
<event>
<org>Think Retirement Income Conference, Summit Business Media - Closing keynote</org>
<title>Couples and Retirement Challenges</title>
<date>October 2013</date>
<location>Boston, MA</location>
</event>
<event>
<org>96th NASAA Annual Conference (North American Securities Administrators Association) - Keynote speaker</org>
<title>Money Psychology and Financial Literacy</title>
<date>October 2013</date>
<location>Salt Lake City, UT</location>
</event>
<event>
<org>Women's Best Practices Forum</org>
<title>The Client Connection: Helping Advisors Build Bridges That Last</title>
<date>August 2013</date>
<location>Berkeley, CA</location>
</event>
<event>
<org>Women's Best Practices Forum</org>
<title>The Client Connection: Helping Advisors Build Bridges That Last</title>
<date>June 2013</date>
<location>Chicago, IL</location>
</event>
<event>
<org>Women's Best Practices Forum</org>
<title>The Client Connection: Helping Advisors Build Bridges That Last</title>
<date>June 2013</date>
<location>New York, NY</location>
</event>
<event>
<org>Psychotherapy Networker Symposium</org>
<title>Facilitating Career and Money Transitions</title>
<date>March 2013</date>
<location>Washington, D.C.</location>
</event>
<event>
<org>From Purses to Portfolios conference, Delaware Money School</org>
<title>Maximizing your Relationships around Money</title>
<date>October 2012</date>
<location>Newark, Delaware</location>
</event>
<event>
<org>FPA-NCA Regional Meeting</org>
<title>Enhancing Client Communication in Stressful Times</title>
<date>October 2012</date>
<location>Washington, D.C.</location>
</event>
<event>
<org>Financial Literacy Conference - Luncheon Speaker</org>
<title>Understanding Gender Differences</title>
<date>October 2012</date>
<location>Washington, D.C.</location>
</event>
<event>
<org>Wells Fargo Women Advisors</org>
<title>Money Shy to Money Sure: Strengthening the Client Connection</title>
<date>October 2012</date>
<location>San Diego, CA</location>
</event>
<event>
<org>Wells Fargo Women Advisors</org>
<title>Money Shy to Money Sure: Strengthening the Client Connection</title>
<date>September 2012</date>
<location>Philadelphia, Pennsylvania</location>
</event>
<event>
<org>Wells Fargo Women Advisors</org>
<title>Money Shy to Money Sure: Strengthening the Client Connection</title>
<date>June 2012</date>
<location>Washington, D.C.</location>
</event>
<event>
<org>FPA Atlanta, Georgia</org>
<title>Understanding Gender Differences to Enhance Client Connection</title>
<date>May 2012</date>
<location>Atlanta, Georgia</location>
</event>
<event>
<org>Wells Fargo Advisors - Dinner Keynote</org>
<title>Gender Differences and Couples Communication</title>
<date>May 2012</date>
<location>St. Louis, Missouri</location>
</event>
<event>
<org>Wells Fargo Advisors</org>
<title>The Client Connection: Helping Advisors Build Bridges That Last</title>
<date>March 2012</date>
<location>Dallas, Texas</location>
</event>
<event>
<org>Psychotherapy Networker Symposium</org>
<title>Managing Our Minds while Managing Our Money - A workshop for mental health professionals with Olivia Mellan and Mrim Boutla, 
Ph.D</title>
<date>March 2012</date>
<location>The Omni Shore Hotel, Washington D.C.</location>
</event>
<event>
<org>RBC's 2011 Womens Association of Financial Advisors (WAFA) - Keynote</org>
<title>Helping Women Achieve Money Harmony -- JW Marriot Camelback Inn</title>
<date>September 2011</date>
<location>Scottsdale, Arizona</location>
</event>
<event>
<org>Financial Therapy Association keynote</org>
<title>The Evolution of Money Harmony Work</title>
<date>September 2011</date>
<location>Athens, Georgia</location>
</event>
<event>
<org>Financial Network Top Advisor Summit</org>
<title>Money Harmony for You and Your Clients In Turbulent Times</title>
<date>July 2011</date>
<location>Orlando, Florida</location>
</event>
<event>
<org>RBC Wealth Management Seminar Series</org>
<title>The Emotions of Money and Its Impact on your Legacy</title>
<date>June 2011</date>
<location>Washington, D.C.</location>
</event>
<event>
<org>Prudential Women's Wholesaler Meeting</org>
<title>Work-life Balance and Stress Management</title>
<date>June 2011</date>
<location>Chicago, Illinois</location>
</event>
<event>
<org>Wells Fargo Female Advisors Summit</org>
<title>Money Harmony for Women in their Third Age</title>
<date>May 2011</date>
<location>St. Louis, Missouri</location>
</event>
<event>
<org>Wells Fargo Bank</org>
<title>Women &amp; Retirement</title>
<date>May 2011</date>
<location>Charlotte, North Carolina</location>
</event>
<event>
<org>Personal Financial Seminar for Professionals — University of Maryland Extension</org>
<title>Helping Your Clients Move toward Money Harmony in Turbulent Times</title>
<date>May 2011</date>
<location>Annapolis, Maryland</location>
</event>
<event>
<org>Money Smart Investor Conference — Drake University</org>
<title>Money Shy to Money Sure: A Roadmap to Financial Well-Being</title>
<date>April 2011</date>
<location>Des Moines, Iowa</location>
</event>
<event>
<org>Money Smart Week Kickoff Breakfast</org>
<title>Money Harmony in Turbulent Times</title>
<date>April 2011</date>
<location>Des Moines, Iowa</location>
</event>
<event>
<org>Psychotherapy Networker Symposium</org>
<title>Close Encounters of the Financial Kind - A workshop for mental health professionals with Olivia Mellan, Eleanor Blayney, and 
Peg Downey</title>
<date>March 2011</date>
<location>Washington D.C.</location>
</event>
<event>
<org>ING National Training Conference</org>
<title>Moving toward Money Harmony In Stressful times</title>
<date>January 2011</date>
<location>Chandler, Arizona</location>
</event>
<event>
<org>Seminar for Managers &amp; Staff — Westin La Paloma</org>
<title>Moving toward Money Harmony in Uncertain Times</title>
<date>January 2011</date>
<location>Tucson, Arizona</location>
</event>
<event>
<org>Dept of Defense's AFCPE pre-conference for military budget counselors</org>
<title>Keynote: Money Harmony In Turbulent Times; and two breakout sessions: Bridging the Gap: Gender Differences and Coules 
Dynamics around Money</title>
<date>November 2010</date>
<location>Denver, Colorado</location>
</event>
<event>
<org>FPA of Columbia, Maryland</org>
<title>Helping Your Clients Move toward Money Harmony in Stressful Times</title>
<date>November 2010</date>
<location>Columbia, Maryland</location>
</event>
<event>
<org>The Society for Financial Education and Professional Development</org>
<title>Moderating a panel on Gender Differences</title>
<date>October 2010</date>
<location>Crystal City, Arlington, Virginia</location>
</event>
<event>
<org>The Delaware Money School</org>
<title>Money Harmony for Women</title>
<date>October 2010</date>
<location>Newark, Delaware</location>
</event>
<event>
<org>Federal Reserve bank of Kansas City</org>
<title>Money Harmony In Turbulent Times</title>
<date>October 2010</date>
<location>Kansas City, Missouri</location>
</event>
<event>
<org>Lahey Hospital - Luncheon Speaker</org>
<title>Moving toward Money Harmony In Turbulent Times</title>
<date>June 2010</date>
<location>Burlington, Massachusetts</location>
</event>
<event>
<org>Pinnacle Advisory Group Client Appreciation Event — Congressional Country Club (private event)</org>
<title>Money Harmony In Turbulent Times</title>
<date>May 2010</date>
<location>Washington, DC</location>
</event>
<event>
<org>5th Annual Mortgage Lending Industry Strategic Markets and Diversity Conference</org>
<title>Keynote Speaker</title>
<date>May 2010</date>
<location>Washington, DC</location>
</event>
<event>
<org>Psychotherapy Networker Symposium 2010</org>
<title>Getting Mindful about Money: A Journal from Survial Mode to Thriving (a workshop for practitioners)</title>
<date>March 2010</date>
<location>Washington, DC</location>
</event>
<event>
<org>Jump$tart Conference - Keynote</org>
<title>Moving Toward Money Harmony: A Cornerstone of Financial Literacy</title>
<date>March 2010</date>
<location>Burlington, Vermont</location>
</event>
<event>
<org>George Washington University Counseling Center's continuing education program</org>
<title>Money Harmony for You and for Your Clients</title>
<date>February 2010</date>
<location>Washington, DC</location>
</event>
<event>
<org>National NTSAA Conference</org>
<title>Money Harmony In Turbulent Times</title>
<date>January 2010</date>
<location>Indian Wells, California</location>
</event>
<event>
<org>MITRE Corporation</org>
<title>Moving Toward Money Harmony In Turbulent Times</title>
<date>January 2010</date>
<location>McLean, Virginia</location>
</event>
<event>
<org>Money Conference for young women (high school math students)</org>
<title>Moving Toward Money Harmony: Taking Charge of Your Money</title>
<date>October 2009</date>
<location>La Plata, Maryland</location>
</event>
<event>
<org>Financial Literacy Conference — Society for Financial Education and Professional Development</org>
<title>Moving Toward Money Harmony in Turbulent Times</title>
<date>October 2009</date>
<location>Washington, DC</location>
</event>
<event>
<org>FPA National Capital Area Regional Meeting</org>
<title>Enhanced Communication &amp; Stress Management in Turbulent Times</title>
<date>September 2009</date>
<location>Bethesda, Maryland</location>
</event>
<event>
<org>The Advisor Group  - General Session Keynote</org>
<title>Moving Toward Money Harmony in Turbulent Times</title>
<date>August 2009</date>
<location>Kansas City, MO</location>
</event>
<event>
<org>TD AMERITRADE Institutional Elite Advisor Summit</org>
<title>Helping You and Your Clients Deal with Stress in Volatile Times</title>
<date>May 2009</date>
<location>Ritz-Carlton Lodge, Reynolds Plantation, Greensboro, GA</location>
</event>
<event>
<org>Summit Business Media - The Future of Retirement Planning Conference Series (six events)</org>
<title>Communication Skills and Stress Management for Advisors and Clients</title>
<date>February-May 2009</date>
<location>Philadelphia, Hallandale Beach (FL), Chicago, Denver, San Francisco, Waltham (MA)</location>
</event>
<event>
<org>Psychotherapy Networker Symposium Conference</org>
<title>Friday Workshop — Helping Clients Manage Money Anxieties</title>
<date>March 2009</date>
<location>Omni Shoreham Hotel, Washington, DC</location>
</event>
<event>
<org>FPA of Maryland CE Seminar</org>
<title>Money Psychology for Financial Advisors: Enhancing Client Relationships</title>
<date>November 2008</date>
<location>Columbia, Maryland</location>
</event>
<event>
<org>NAFPA</org>
<title>Your Relationship to Money - With Cissy Elinoff</title>
<date>November 2008</date>
<location>Hershey, Pennsylvania</location>
</event>
<event>
<org>The Money School</org>
<title>Money Shy to Money Sure - Moving Toward Money Harmony</title>
<date>October 2008</date>
<location>Newark, Delaware</location>
</event>
<event>
<org>Montgomery County Commission for Women</org>
<title>Money Shy to Money Sure - Moving Toward Money Harmony</title>
<date>September 2008</date>
<location>Rockville, Maryland</location>
</event>
<event>
<org>Mark Victor Hansen's Mega Inner Circle Network Immersive</org>
<title>Maximizing Your Money Style</title>
<date>April 2008</date>
<location>Asheville, North Carolina</location>
</event>
<event>
<org>Psychotherapy Networker Symposium</org>
<title>Worlds Apart: Helping Couples Resolve Money ConflictsThe Power of Relationship: Symposium East 2008</title>
<date>March 2008</date>
<location>Washington D.C.</location>
</event>

<org>Teleclass for Private College</org>
<title>Special Private Teleclass - Money Psychology for Professionals</title>
January-<date>February 2008</date>
<location>Texas</location>

<event>
<org>Garrett Financial Planning Network</org>
<title>Webinar - TBA (Money Psychology for Financial Professionals)</title>
<date>January 2008</date>
<location>Washington D.C.</location>
</event>
<event>
<org>Wachovia's Conversation, Connnection, Community Event</org>
<title>Panelist with Jean Chatzky, moderator, Ritz-Carlton</title>
<date>December 2007</date>
<location>Washington D.C.</location>
</event>
<event>
<org>Moss Adams Wealth Advisor Summit</org>
<title>Enhancing Communication with Clients and Staff</title>
<date>November 2007</date>
<location>Pentagon City, Virginia</location>
</event>
<event>
<org>Escape with MORE Magazine Conference for Women</org>
<title>Two Talks: Money Shy to Money Sure: A Woman's Road Map to Financial Well-being; and Men, Women and Money: Bridging the 
Gap</title>
<date>November 2007</date>
<location>Tucson, Arizona</location>
</event>
<event>
<org>SIFE World Cup (international business students from 29 countries who teach financial literacy): judge</org>
<title>Judge</title>
<date>October 2007</date>
<location>New York, New York</location>
</event>
<event>
<org>HSBC Financial Literacy Forum</org>
<title>Maximizing Your Money Style and Moving toward Money Harmony</title>
<date>October 2007</date>
<location>New York, New York</location>
</event>
<event>
<org>IMCA Spring Professional Development Conference</org>
<title>Understanding Money Styles and Gender Differences: Enhancing Relationships with Your Clients</title>
<date>October 2007</date>
<location>Chicago, Illinois</location>
</event>
<event>
<org>YWCA Conference</org>
<title>Keynote: Women, Money and Empowerment</title>
<date>September 2007</date>
<location>St. Joseph, Missouri</location>
</event>
<event>
<org>LPL Financial Services Top Producers Conference</org>
<title>Talk: "Integrating Money Psychology to Maximize Client Relationships"</title>
<date>July 2007</date>
<location>Boston, Massachusetts</location>
</event>
<event>
<org>Ing Direct Cafe</org>
<title>Mastering Your Money Style</title>
<date>May 2007</date>
<location>New York, New York; Philadelphia, Pennsylvania; Wilmington, Delaware</location>
</event>
<event>
<org>Mothering Our Mothers and Ourselves Conference</org>
<title>Keynote - Taking Care of Our Future</title>
<date>May 2007</date>
<location>Annandale, Virginia</location>
</event>
<event>
<org>Tucson Women's Advisory Council of the Jewish Federation of SW Arizona</org>
<title>Women, Money, and Philanthropy</title>
<date>May 2007</date>
<location>Tucson, Arizona</location>
</event>
<event>
<org>IMCA Conference</org>
<title>Keynote - Money Personality Types and Gender Differences; Session - To Team or Not to Team: That Is The Question</title>
<date>December 2006</date>
<location>Beaver Creek, Colorado</location>
</event>
<event>
<org>Investment Advisor Wealth Advisor Summit</org>
<title>Enhancing Communication with Clients: Understanding Differences</title>
<date>November 2006</date>
<location>Las Vegas, Nevada</location>
</event>
<event>
<org>Wachovia Corporation</org>
<title>Living Your Legacy - Not Just Leaving It</title>
<date>November 2006</date>
<location>Sarasota, Florida</location>
</event>

<org>NAFPA Regional Conference</org>
<title>Men, Women &amp; Money: New Research</title>   
<date>October 2006</date>
<location>Bethesda, Maryland</location>

<event>
<org>Trust Company of Illinois' Client Conference</org>
<title>Men, Women and Money</title>
<date>October 2006</date>
<location>Chicago, Illinois</location>
</event>
<event>
<org>AICPA Retirement Forum</org>
<title>Understanding Money Psychology: Enhancing Relationships with Clients</title>
<date>June 2006</date>
<location>Boston, Massachusetts</location>
</event>
<event>
<org>Associated General Contractors of America</org>
<title>In Pursuit of Money Harmony</title>
<date>March 2006</date>
<location>Palm Springs, California</location>
</event>
<event>
<org>Client Appreciation Talk for the Pinnacle Advisory Group</org>
<title>Money Harmony for You and Your Family</title>
<date>January 2006</date>
<location>Potomac, Maryland</location>
</event>
<event>
<org>Women United in Philanthropy</org>
<title>Women and Psychology of Money</title>
<date>November 2005</date>
<location>Charlottesville, Va</location>
</event>
<event>
<org>Ohio Society of CPAs</org>
<title>Understanding Money Psychology: Enhancing Relationships with your Clients</title>
<date>September 2005</date>
<location>Cincinnati, OH</location>
</event>
<event>
<org>Virginia CPAs</org>
<title>Understanding Money Psychology: Enhancing Relationships with your Clients</title>
<date>September 2005</date>
<location>Falls Church, VA</location>
</event>
<event>
<org>Coalition for Post-Bankruptcy Debtor Education</org>
<title>Financial Literacy Training</title>
<date>September 2005</date>
<location>New York, NY</location>
</event>
<event>
<org>NAFPA National Conference (National Association of Personal Financial Advisors)</org>
<title>Sex, Money, and Power</title>
<date>September 2005</date>
<location>Jackson Hole, WY</location>
</event>
<event>
<org>HSBC</org>
<title>How People Change, Money Psychology, and Financial Literacy</title>
<date>May 2005</date>
<location>Chicago, IL</location>
</event>
<event>
<org>Philadelphia Tri-State Financial Planning Association (FPA)</org>
<title>Money Psychology for Financial Advisors</title>
<date>March 2005</date>
<location>Philadelphia, PA</location>
</event>
<event>
<org>Psychotherapy Networker Symposium, Washington, D.C.</org>
<title>March 2005 - Couples &amp; Money Conflicts</title>
<date>March 2005</date>
<location>Money: The Last Taboo for Therapists</location>
</event>
<event>
<org>Women's History Month at Defense Threat Reduction Agency (DTRA)</org>
<title>Women &amp; Money</title>
<date>March 2005</date>
<location>Alexandria, VA</location>
</event>
<event>
<org>Executive Women's Roundtable - EWR March Luncheon</org>
<title>Women, Money &amp; Empowerment</title>
<date>March 2005</date>
<location>McLean, VA</location>
</event>
<event>
<org>Sacred Circles Conference for Women- Washington National Cathedral</org>
<title>Money Harmony &amp; Spirituality</title>
<date>February 2005</date>
<location>Washington, D.C.</location>
</event>  

<event>
<org>YWCA of Tucson Women and Money Conference</org>
<title>Keynote - Money Shy to Money Sure - A Woman's Roadmap to Financial Empowerment</title>
<date>February 2005</date>
<location>Tucson, AZ</location>
</event>
<event>
<org>Virginia Society for CPA</org>
<title>Understanding Money Psychology to Enhance Relationships with Your Clients</title>
<date>January 2005</date>
<location>Falls Church, Virginia</location>
</event>
<event>
<org>Wealth Advisor Summit</org>
<title>Money Psychology for Wealth Managers</title>
<date>December 2004</date>
<location>West Palm Beach, FL</location>
</event>
<event>
<org>Financial Executives International - Breakfast Keynote</org>
<title>Stress Management</title>
<date>November 2004</date>
<location>New York, New York</location>
</event>
<event>
<org>NAPFA (National Association of Personal Financial Advisors) South Regional Conference Dinner</org>
<title>Keynote Speaker - Polarizaton Patterns, Gender Differences</title>
<date>November 2004</date>
<location>Orlando, Florida</location>
</event>

<org>Asset Management Advisors Women's Retreat</org>Topics include:
<title>Creating Money Harmony - Couples and Money</title>
<date>October 2004</date>
<location>Asheville, North Carolina</location>

<event>
<org>Voso and Associates Client Appreciation Dinner</org>
<title>Moving Towards Money Harmony</title>
<date>October 2004</date>
<location>Frederick, Maryland</location>
</event>
<event>
<org>Women's Financial Security Group (sponsored by The Holleman Companies)</org>
<title>Money Shy to Money Sure: A Woman's Road Map to Financial Well-Being</title>
<date>July 2004</date>
<location>Washington D.C.</location>
</event>
<event>
<org>University of Maryland — President's Commission on Women's Issues, "Professional Concepts Exchange Conference"</org>
<title>Money Harmony for Women</title>
<date>June 2004</date>
<location>College Park, Maryland</location>
</event>
<event>
<org>The Family Firm's Client Appreciation Dinner</org>
<title>Men, Women and Money — Challenges of the Road Ahead</title>
<date>May 2004</date>
<location>Washington D.C.</location>
</event>
<event>
<org>Washington Hebrew Congregation Sisterhood Luncheon</org>
<title>Money Harmony for Women</title>
<date>May 2004</date>
<location>Potomac, Maryland</location>
</event>
<event>
<org>NAFPA National Conference (National Association of Personal Financial Advisors)</org>
<title>Money Psychology for Financial Advisors</title>
<date>April 2004</date>
<location>Toronto, Canada</location>
</event>
<event>
<org>NFL National Meeting (for owners &amp; managers) - Spouses Seminar</org>
<title>Money Harmony for Women</title>
<date>March 2004</date>
<location>West Palm Beach, FL</location>
</event>
<event>
<org>DCPA (DC Psychological Association) Conference</org>
<title>Money Psychology for Therapists - Speaking with Dr. Lynne Hornyak.</title>
<date>February 2004</date>
<location>Washington D.C.</location>
</event>
<event>
<org>TEC (The Executive Committees) Seminar</org>
<title>Money Harmony</title>
<date>February 2004</date>
<location>Potomac, Maryland</location>
</event>
<event>
<org>Coalition for Post-Bankruptcy Debtor Education</org>
<title>Train-the-Trainer in Financial Literacy Skills</title>
<date>December 2003</date>
<location>New York City</location>
</event>
<event>
<org>Alexandra Amrstrong Associates Client Appreciation Event</org>
<title>Moving Toward Money Harmony</title>
<date>November 2003</date>
<location>Washington, DC</location>
</event>
<event>
<org>Lion of Judah Donors for the Jewish Federation of DC</org>
<title>Money Harmony for Women</title>
<date>October 2003</date>
<location>Bethesda, Maryland</location>
</event>
<event>
<org>Thornburg Investment Management Wealth Management Symposium</org>
<title>The Client - What A Concept</title>
<date>October 2003</date>
<location>Santa Fe, New Mexico</location>
</event>
<event>
<org>FPA (Financial Planning Association) Regional Meeting</org>
<title>Money Psychology for Financial Professionals</title>
<date>September 2003</date>
<location>Fairfax, Virginia</location>
</event>
<event>
<org>NAPFA Regional Conference</org>
<title>Money Psychology for Financial Advisors</title>
<date>September, 2003</date>
<location>Chicago, Illinois</location>
</event>
<event>
<org>NAPFA Regional Conference</org>
<title>Money Psychology for Financial Advisors</title>
<date>November 2002</date>
<location>Baltimore, MD</location>
</event>
<event>
<org>Sponsored by Investment Advisor Magazine/Press</org>
<title>Wealth Advisor Summit - Money Psychology for Wealth Managers</title>
<date>September 2003</date>
<location>Connecticut</location>
</event>
<event>
<org>Money Harmony at Sevenoaks Pathwork Center</org>
<title>Money Harmony</title>
<date>June 2003</date>
<location>Madison, Virginia</location>
</event>
<event>
<org>DC Womens' Bar Association</org>
<title>Moneyharmony for Women</title>
<date>May 2003</date>
<location>Washington D.C.</location>
</event>
<event>
<org>The Navy's Fleet and Family Support Centers</org>
<title>Financial Educators Conference - Keynote Speaker</title>
<date>May 2003</date>
<location>Williamsburg, Virginia</location>
</event>
<event>
<org>Montgomery County Women's Center</org>
<title>Money Harmony for Women</title>
<date>May 2003</date>
<location>Rockville, Md</location>
</event>
<event>
<org>People's Bank at the Women's Possibilities Forum - Keynote Speaker</org>
<title>Money Harmony for Women</title>
<date>April 2003</date>
<location>Stamford, Connecticut</location>
</event>
<event>
<org>Federal Communications Commission Seminar for Women's History Month</org>
<title>Money Shy to Money Sure: A Woman's Road Map to Financial Well-Being</title>
<date>March 2003</date>
<location></location>
</event>
<event>
<org>AFP/DC Educational Round Table</org>
<title>Moneyharmony for Fundraisers: Understanding the Psychology of Giving</title>
<date>February 2003</date>
<location></location>
</event>
</allEvents>
</xml>
