@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\000035}}
#navigation {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\0000314}}
.tb-megamenu {
  background-color: #73A28F;
  border-bottom: solid 2px #E7EBF1;
  border-top: solid 2px #E7EBF1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\0000322}}
.tb-megamenu .nav > li > a,
.tb-megamenu .nav > li > a:hover {
  border-right: 1px solid #73A28F;
  text-decoration: none;
  border-bottom: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\0000329}}
.tb-megamenu .span12.mega-col-nav .mega-inner,
.tb-megamenu .mega-inner {
  padding: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\0000336}}
.tb-megamenu .mega-nav > li,
.tb-megamenu .dropdown-menu .mega-nav > li {
  padding: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\0000340}}
.tb-megamenu .mega-nav > li:first-child > a,
.tb-megamenu .dropdown-menu .mega-nav > li:first-child > a {
  margin-top: 0;
  padding-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\0000345}}
.tb-megamenu .mega-nav > li a,
.tb-megamenu .dropdown-menu .mega-nav > li a {
  text-decoration: none;
  color: #004069;
  padding: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\0000355}}
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #E7EBF1;
  border-color: #E7EBF1;
  color: #004069;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\0000362}}
.tb-megamenu .nav > li.dropdown.open.active > a:hover {
  border-color: #E7EBF1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\0000366}}
.tb-megamenu .nav > li > a:focus, .tb-megamenu .nav > li > a:hover {
  color: #004069;
  border-right: 1px solid #E7EBF1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\0000372}}
.tb-megamenu .nav li.dropdown.open > .dropdown-toggle,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover, .tb-megamenu .nav > li.dropdown.open.active > a:focus {
  background-color: #eee;
  color: #004069;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\0000385}}
.tb-megamenu .nav li.dropdown.open > .dropdown-toggle .caret,
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle .caret,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle .caret,
.tb-megamenu .nav li.dropdown > .dropdown-toggle:hover .caret {
  border-top-color: #666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\0000391}}
.tb-megamenu .dropdown-menu li > a:hover,
.tb-megamenu .dropdown-menu li > a:focus,
.tb-megamenu .dropdown-submenu:hover > a {
  background-color: #33729B;
  background-image: linear-gradient(to bottom, #0088CC, #0077B3);
  background-repeat: repeat-x;
  color: #eee;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\00003102}}
.tb-megamenu .nav > .active > a {
  color: #004069;
  text-shadow: none;
  background-color: #E7EBF1;
  background-image: none;
  -moz-box-shadow: #004069, 0, 0, 0;
  -webkit-box-shadow: #004069, 0, 0, 0;
  box-shadow: #004069, 0, 0, 0;
  outline: none;
  border-right-color: #E7EBF1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\00003110}}
.tb-megamenu .nav > .active > a:hover, .tb-megamenu .nav > .active > a:focus {
  color: #004069;
  background-color: #E7EBF1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\00003118}}
.tb-megamenu .dropdown-menu {
  border-bottom-color: #E7EBF1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\00003120}}
.tb-megamenu .dropdown-menu .active > a {
  color: #004069;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\00003122}}
.tb-megamenu .dropdown-menu .active > a:hover {
  color: #eee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\00003129}}
.tb-megamenu .block-view-demo .views-field-field-image img {
  border: 1px solid #eee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\00003132}}
.tb-megamenu .block-view-demo .item-list ul li {
  border-bottom: 1px solid #eee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\00003138}}
.tb-megamenu .btn-navbar {
  float: right;
  margin: 0.5em;
}

@media (max-width: 991px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\00003149}}
  .tb-megamenu {
    min-height: 4px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\00003152}}
  .tb-megamenu .btn-navbar {
    position: absolute;
    right: 1em;
    top: -62px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\00003157}}
  .tb-megamenu .nav-collapse {
    background: none repeat scroll 0 0 #73A28F;
    top: 0px;
    margin-top: 0px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\00003162}}
  .tb-megamenu .nav-collapse .nav > li > a:hover, .tb-megamenu .nav-collapse .nav > li > a:focus {
    color: #004069;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\00003166}}
  .tb-megamenu .nav-collapse .nav > li.active > a {
    color: #004069;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\00003168}}
  .tb-megamenu .nav-collapse .nav > li.active > a:hover, .tb-megamenu .nav-collapse .nav > li.active > a.focus {
    background-color: #E7EBF1;
    color: #004069;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\00003175}}
  .tb-megamenu .nav-collapse .dropdown-menu {
    background-color: #E7EBF1;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\00003177}}
  .tb-megamenu .nav-collapse .dropdown-menu a {
    color: #004069;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\00003180}}
  .tb-megamenu .nav-collapse .dropdown-menu li > a:hover,
  .tb-megamenu .nav-collapse .dropdown-menu li > a:focus,
  .tb-megamenu .nav-collapse .dropdown-menu li.active > a {
    background-color: #33729B;
    background-image: linear-gradient(to bottom, #0088CC, #0077B3);
    background-repeat: repeat-x;
    color: #eee;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\00003189}}
  .tb-megamenu .nav-collapse .dropdown-submenu:hover > a {
    background-color: #33729B;
    background-image: linear-gradient(to bottom, #0088CC, #0077B3);
    background-repeat: repeat-x;
    color: #eee;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/moneyhar\/sites\/all\/themes\/moneyzen\/sass\/moneyzen-tb-megamenu\.scss}line{font-family:\00003197}}
  #main {
    padding-top: 4px !important;
  }
}
