/*
Error: Invalid CSS after "  background-color": expected "{", was "; $navbar;"
        on line 146 of /home/bryan/moneyhar/sites/all/themes/moneyzen/sass/_normalize.scss
        from line 13 of /home/bryan/moneyhar/sites/all/themes/moneyzen/sass/styles.scss

141:   color: $darkbluealt;
142: }
143: a:hover,
144: a:focus {
145:   color: #fff;
146:   background-color; $navbar;
147: }
148: a:active {
149:   color: #fff;
150:   background-color; $navbar;
151: }

Backtrace:
/home/bryan/moneyhar/sites/all/themes/moneyzen/sass/_normalize.scss:146
/home/bryan/moneyhar/sites/all/themes/moneyzen/sass/styles.scss:13
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:1165:in `expected'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:1101:in `expected'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:1096:in `tok!'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:641:in `block'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:661:in `block_child'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:653:in `block_contents'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:642:in `block'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:635:in `ruleset'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:660:in `block_child'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:653:in `block_contents'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:117:in `stylesheet'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:42:in `parse'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/engine.rb:393:in `_to_tree'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/engine.rb:299:in `to_tree'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/stack.rb:88:in `block in with_import'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/stack.rb:88:in `with_import'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/stack.rb:79:in `block in with_base'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/stack.rb:79:in `with_base'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `map'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/root_node.rb:20:in `render'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/engine.rb:268:in `render'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:209:in `each'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:328:in `block in watch'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/vendor/listen/lib/listen/listener.rb:252:in `call'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/vendor/listen/lib/listen/adapter.rb:254:in `call'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/home/bryan/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  background-color\": expected \"{\", was \"; $navbar;\"\A         on line 146 of /home/bryan/moneyhar/sites/all/themes/moneyzen/sass/_normalize.scss\A         from line 13 of /home/bryan/moneyhar/sites/all/themes/moneyzen/sass/styles.scss\A \A 141:   color: $darkbluealt;\A 142: }\A 143: a:hover,\A 144: a:focus {\A 145:   color: #fff;\A 146:   background-color; $navbar;\A 147: }\A 148: a:active {\A 149:   color: #fff;\A 150:   background-color; $navbar;\A 151: }"; }
